
      <nb-card>
        <nb-card-header class="text-center"> <H1> Solicitud recibida!</H1> </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-6 mx-auto">
              <!-- <br> -->
              <h1 class="">Mascota:</h1>
              <ul>
               Rocky
              </ul>

              <h1 class="">Fecha:</h1>
              <ul>
                20/36/2019
              </ul>
  
              <h1 class="">Hora de inicio:</h1>
              <ul>
                7:30am
              </ul>
  
              <h1 class="">Duracion:</h1>
              <ul>
                1h 30min
              </ul>
  
              <h1 class="">Metodo de pago:</h1>
              <ul>
                Efectivo
              </ul>
  
              <h1 class="">Fecha:</h1>
              <ul>
                Direccion de recogida
              </ul>
  
              <h1 class="">Direccion de recogida:</h1>
              <ul>
                1km norte de la iglesia de san jeronimo d Moravia, casa azul con
                techo morado
              </ul>
  
              <h1 class="">Descripcion:</h1>
              <ul>
                20/36/2019
              </ul>
  
              <h1 class="">Costo total por los servicios:</h1>
              <ul>
                90$
              </ul>
            </div>
  
          </div>
        </nb-card-body>
      </nb-card>
      <!-- <button nbButton status=>Ver perfil</button> -->
      <button nbButton  fullWidth  status="success">Continuar</button>
  
 